*
body {
    margin: 0;
    padding: 0;
    font-family: 'Ariel' sanserif;
    
}

header {
    background-image: url(https://i.ibb.co/gMhPXZD/backgrounddesk.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
}
 ul li {
     display: inline-block;

 }

 ul li a {
     text-decoration: none;
     color: #fff;
     padding: 5px 15px;
     border: 2px solid #fff;
     transition: 0.6s ease;
 }

 ul li a:hover {
     background-color: #fff;
     color: #000;

 }

 .logo img {
     width: 400px;
     height: auto;
     margin-top: 0px;
     float: left;
 }

 .row {
     max-width: 1200px;
     margin: auto;

 }

 .hero {
     position: absolute;
     width: 1200px;
     margin-left: 0;
     margin-top: 0;
 }

 h1
 {
     color: black;
     text-transform: uppercase;
     font-size: 70px;
     text-align: center;
     margin-top: 275px;

 }

 .button {
     margin-top: 30px;
     margin-left: 440px;
 }

 .btn {
     border: 1px solid black;
     padding: 10px 30px;
     color: black;
     text-decoration: none;
     margin-right: 5px;
     font-size: 13px;
     text-transform: uppercase;

 }

 .btn-one {
     font-family: "Roboto", sans-serif;
 }

 .btn-one:hover {
     background-color: white;
     transition: all 0.5s ease-in;
 }

 .btn-two {
     font-family: "Roboto", sans-serif;
 }

 .btn-two:hover {
     background-color: white;
     transition: all 0.5s ease-in;
 }