/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
@font-face {
    font-family: bq;
    src: url('../fonts/blackquality.ttf')
}

*
{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}


body.index {
    background-image: url(https://i.ibb.co/zF4SxxG/office-865091.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.landing-page {
    height: 100vh;
}

.landing-page--bg-gray {
    background: gray;
    color: white;
    padding: 35px;
}

.landing-page--bg-white {
    background: #e5e7e9;
    color: black;
    padding: 35px;

}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin: 10px 5px;
}

.main-nav li a {
    color: #fdfefe;
    text-decoration: none;
    padding: 7px 12px;
    font-family: 'Merienda', cursive;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #839192;
}

.main-nav li a:hover {
    background: rgb(66, 208, 233);
    border-bottom: 1px solid #839192;
    transition: .4s;
}

.logo img {
    width: 400px;
    height: auto;
    float: left;
}

body {
    font-family: Arial;
}

.row {
    max-width: 1200px;
    margin: auto;
}

.hero {
    position: absolute;
    width: 700px;
    margin-left: 100px;
    margin-top: 0;
}

h1 {
    color: #fdfefe;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 315px;
}

.button {
    margin-top: 30px;
    margin-left: 220px;
}

.btn {
    padding: 10px 30px;
    color: #fdfefe;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #fdfefe;
    border-radius: 25px;
}
.btn-one {
    font-family: "Roboto", sans-serif;
}

.btn-two {
    font-family: "Roboto", sans-serif;
}

.btn-one:hover {
    background-color: rgb(66, 208, 233);
    transition: all 0.5s ease-in;
}

.btn-two:hover {
    background-color: rgb(66, 208, 233);
    transition: all 0.5s ease-in;
}

body.about {
    background-image: url(https://cdn.pixabay.com/photo/2014/04/07/20/27/texture-318907__340.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;   
}

.img-me {
    width: 250px;
    float: left;
    margin-top: 175px;
    margin-right: 10px;
}

p {
    font-family: 'Kalam', cursive;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    color: white;
    position: absolute;
    left: 475px;
    right: 150px;
    top: 180px;
    word-spacing: 5px;
    line-height: 45px;
}

body.portfolio {
    background-image: url(https://cdn.pixabay.com/photo/2014/04/07/20/27/texture-318907__340.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

body.contact {
    background-image: url(https://cdn.pixabay.com/photo/2018/02/24/22/11/phone-3179343__340.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.contact-me {
    position: absolute;
    width: 500px;
    margin-left: 100px;
    margin-top: 0; 
}

h2 {
    color: #000000;
    font-family: 'Notable', sans-serif;
    font-size: 50px;
    float: left;
    margin-top: 210px;
    margin-left: 80px;
}

h3 {
    color: rgb(66, 208, 233);
    font-family: 'Merienda', cursive;
    font-size: 95px;
    margin-top: 95px;
    float: left;
    margin-left: 80px;
    text-align: center;
}

.social {
    position: absolute;
    list-style: none;
    margin-top: 500px;
    margin-left: 620px;
    
}

.social li {
    margin: 5px 15px;
    display: inline-block;
    font-size: 25px;
    padding: 5px 5px;
    transition: .5s;
    left: 350%;  

}

.social li a {
    color: #000000;
}

.social li a:hover {
    color: #fdfefe;
    transition: .5s;
}

.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 100px auto;
}

.container .box {
    position: relative;
    top: 0px;
    width: calc(400px - 30px);
    height: calc(400px - 80px);
    background: rgb(66, 208, 233);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(37, 34, 34);
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: white;
}

.container .box:hover .icon .fa {
    font-size: 40px;
}

.container .box .content {
    position: absolute;
    top: 30px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 90px;
    box-sizing: border-box;
    transition: 0.5s;

}

.container .box .content li {
    list-style: none;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    color: black;
}

.container .box .content-last {
    position: absolute;
    top: 0px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 140px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

.container .box .content-last li {
    list-style: none;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    color: black;
}

h7 {
    position: static;
    top: 0px;
    text-align: center;
    height: 50px;
    font-size: 70px;
    padding: 150px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(66, 208, 233);
}

.container-last {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 100px auto;
}


.container-last .loginbox {
    position: relative;
    top: 0px;
    width: 320px;
    height: 420px;
    background: rgb(66, 208, 233);
    top: 25%;
    left: 35%;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    padding: 70px 30px;
}

h9 {
    margin: 0;
    padding: 0 50px 20px;
    text-align: center;
    font-size: 22px;
}

h10 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;

}

h11 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.loginbox a:hover {
    color: white;
}