*
{
    margin: 0;
    padding: 0;
}

header {
    background-image: url(https://i.ibb.co/gMhPXZD/backgrounddesk.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

 .main-nav li {
     display: inline-block;

 }

 .main-nav li a {
     color: black;
     text-decoration: none;
     padding: 5px 20px;
     font-family: "Roboto", sans-serif;
     font-size: 15px;
 }

 .logo img {
     width: 400px;
     height: auto;
     margin-top: 0px;
     float: left;
 }

 .row {
     max-width: 1200px;
     margin: auto;

 }

 .hero {
     color: black;
     font-family: sans-serif;
     text-transform: uppercase;
     text-align: center;
     margin-top: 300px;
 }

 .hero h1 {
    font-size: 70px;
    margin: 25px;
 }

 .button {
     margin-top: 30px;
     margin-left: 440px;
 }

 .btn {
     border: 1px solid black;
     padding: 10px 30px;
     color: black;
     text-decoration: none;
     margin-right: 5px;
     font-size: 13px;
     text-transform: uppercase;

 }

 .btn-one {
     font-family: "Roboto", sans-serif;
 }

 .btn-one:hover {
     background-color: white;
     transition: all 0.5s ease-in;
 }

 .btn-two {
     font-family: "Roboto", sans-serif;
 }

 .btn-two:hover {
     background-color: white;
     transition: all 0.5s ease-in;
 }